body {
  background-color: #214478;
  font-family: Verdana,sans-serif;
  color: #ffffff;
}

.app {
  text-align: center;
}

.container{
  text-align: center;
  
}

.title {
  text-align: center;
  padding-top: 20px;
}

.main {
  text-align: center;
}

.blueButton {
  border: none;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #002255;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  width: 300px;
}

.blueButton:hover {
  background: #2E3655;
  text-decoration: none;
}