.Start {
    margin: auto;
    max-width: 900px;
}

.mainFlex {
    display: flex;
}

.column {
    width: 100%;
}

.imageColumn {
    flex: 1;
    /* Grow to rest of container */
  }

.PlayersNamesColumn {
    width: 300px;
  }